#key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;

    width: 90%;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Calculator{
    /* max-width: 220px; */
    width: 23%;
    height: 90%;
    padding-bottom: 3%;
    background-color: rgba(216, 211, 211, 0.724);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button{
    border-radius: 10%;
    width: 100%;
    height: 50px;
    border: 2 solid rgb(240, 236, 236);
    background-color: rgba(236, 231, 231, 0.863);
    /* box-shadow:4vmin; */
}
.jaune{
    background-color: rgba(255, 196, 0, 0.989);
}
.rouge{
    background-color: rgba(255, 77, 0, 0.815);
}
.orange{
    background-color: orange;
}
.vert{
    background-color: rgb(69, 160, 4);
}
#display{
    background-color: rgb(154, 215, 215);
    border-radius: 4%;
    width: 70% ;
    padding: 20px;
    font-size: 1rem;
    text-align: left;
    border: none;


}
@media (max-width: 768px) {
    #Calculator {
        width: 80%;
    }
    #key {
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
    }
    button {
        height: 40px;
        font-size: 0.9rem;
    }
    #display {
        width: 80%;
        padding: 15px;
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    #Calculator {
        width: 70%;
        height: 230px;
    }
    #key {
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
    }
    button {
        height: 35px;
        font-size: 0.8rem;
    }
    #display {
        width: 80%;
        padding: 10px;
        font-size: 1rem;
    }
}